@model Product;

@{
    Layout = "_Layout";
}

<div class="container pt-5">
    @if(User.IsInRole(ApplicationRoles.Member))
    {
        @Component.InvokeAsync("BasketView", User.Identity.Name).Result
    }

    <h1>Details for @Model.Name</h1>

    <img src="@Model.Image" alt="Image of @Model.Name" />
    <ul>
        <li>Category: @Model.Category</li>
        <li>Price: $@Model.Price</li>
        <li>Description: @Model.Description</li>
    </ul>
    <a asp-action="AddToCart" asp-controller="Basket" asp-route-id="@Model.ID" class="btn btn-primary">
        Add To Cart
    </a>

    <div>
        <a asp-action="Index" class="nav-link">Back to all products</a>
    </div>
</div>