@model List<Product>;

@{
    Layout = "_Layout";
}
<div class="container pt-5">
    @if (User.IsInRole(ApplicationRoles.Member))
    {
        @await Component.InvokeAsync("BasketView", User.Identity.Name)
    }
    <h3>All Products</h3>

    @foreach (Product product in Model)
    {
        <ul>
            <li>
                <span class="IMGcontainer"><img src="@product.Image" alt="Image of @product.Name" /></span>
            </li>
            <li>Name: @product.Name</li>
            <li>Category: @product.Category</li>
            <li>Price: @product.Price</li>
            <li><a asp-action="Details" asp-route-id="@product.ID">Details</a></li>
        </ul>
    }


</div>