@model Product;

@{
    Layout = "_Layout";
}

<div class="container pt-5">

    <h2>Details for @Model.Name</h2>
    <br />
    <span class="IMGcontainer">
        <img src="@Model.Image" alt="Image of @Model.Name" />
    </span>
    <br />
    <br />
    <table class="table">
        <tr>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <td>$@Model.Price</td>
        </tr>
        <tr>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>@Model.Sku</td>
        </tr>
    </table>

</div>