@model Product;

@{
    Layout = "_Layout";
}


<h1>Details for @Model.Name</h1>

<img src="@Model.Image" alt="Image of @Model.Name" />
<table>
    <tr>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>@Model.Sku</td>
    </tr>
</table>